* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header h1{
    background-color:   burlywood;
    color: #9A031E;
    text-align: center;
    padding-top:20px;
    font-size: 35px;
    padding-bottom: 10px;
}
nav {
    background-color:#0F2167; 
    padding: 10px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 0 30px;
}

a {
    text-decoration: none;
    color: #FFECD6;
    font-weight: bold;
}

a:hover {
    color:rgb(219, 183, 91);
        text-decoration: underline;
}
/* class selector */
.header {
    text-align: center;
    margin-top: 250px;
}
main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: #2196F3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0e75e7;
}

footer {
    background-color:bisque;
    color: maroon;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top:0px;
}